<div id="wv-search-form" class="clearfix">
  <div class="col-md-6">
    <div class="home-icons">
      <a href="#/search" class="wv-nav">
        <span id="searchIcon" aria-hidden="true" class="glyphicon glyphicon-search text-center" data-toggle="tooltip" data-placement="left" title="Search wikipedia"></span>
      </a>
      <h2 class="text-center">Search</h2>
    </div>
    
  </div>
  <div class="col-md-6">
    <div class="home-icons">
      <a href="#/random" class="wv-nav">
        <span id="randomIcon" aria-hidden="true" class="glyphicon glyphicon-random text-center"></span>
      </a>
    </div>
    <h2 class="text-center">Random</h2>
  </div>
</div>
