<div id="wv-search-form">
  <div class="col-md-6">
    <a href="#/search">
      <span id="searchIcon" aria-hidden="true" class="glyphicon glyphicon-search pull-left" data-toggle="tooltip" data-placement="left" title="Search wikipedia"></span>
    </a>
    
  </div>
  <div class="col-md-6">
    <a href="#/random" data-toggle="tooltip" data-placement="right" title="Random wikipedia entry">
      <span id="randomIcon" aria-hidden="true" class="glyphicon glyphicon-random pull-right"></span>
    </a>
  </div>
</div>
