<div id="wv-search-form">
  <div class="col-md-6">
    <div class="home-icons">
      <a href="#/search">
        <span id="searchIcon" aria-hidden="true" class="glyphicon glyphicon-search text-center" data-toggle="tooltip" data-placement="left" title="Search wikipedia"></span>
      </a>
    </div>
    
  </div>
  <div class="col-md-6">
    <div class="home-icons">
      <a href="#/random" data-toggle="tooltip" data-placement="right" title="Random wikipedia entry">
        <span id="randomIcon" aria-hidden="true" class="glyphicon glyphicon-random text-center"></span>
      </a>
    </div>
  </div>
</div>
