body {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  background: #000;
}

.navbar {
  background-color: transparent;
  background: transparent;
  border: 0;
  margin-top: 25px;
  margin-bottom: 0;
  position: relative;
  z-index: 9999;
}

.navbar-nav > li{
  margin-left: 20px;
  margin-right: 20px;
}

.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 16px;
}

.navbar-default .navbar-nav > li > a:hover {
  color: #aaa;
}

.a {
  /*background-image: url("../images/4.jpg");*/
  background-color: #ffffff;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: inherit;
  padding: 60px 30px;
  position: relative;
  width: 100%;
  /* */
  
}

.b {
  margin-top: -75px;   
  padding: 120px 0;
}

.d {
  margin-top: 144px;
}


.c {
  margin: 0 auto;
  width: 980px;
}

.e {
  margin-bottom: 90px;
  margin-right: 50px;
}

#header h1 {
  font-size: 56px;
  color: #000;
  margin-bottom: 25px;
}

#header p {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 1.6;
}

.b1 {
  background-color: red;
  padding: 10px;
}

.b2 {
  background-color: #eee04a;
  padding: 10px;
}

#social {
  padding-top: 40px;
  padding-bottom: 40px;
}

#social h1 {
  font-size: 56px;
  color: #000;
  margin-bottom: 25px;
}

#social p {
  font-size: 24px;
  font-weight: 300;
  color: #000;
  line-height: 1.6
}

#social .nav {
  margin-top: 40px;
}

#social .nav a {
  color: #fff;
  font-size: 60px;
}

#social .nav a:hover {
  background: none;
  color: #aaa;
}

#footer {
  background: #151515;
  padding-top: 40px;
  padding-bottom: 40px;
}

#footer #copyright {
  margin-top: 35px;
}

#footer a {
  color: #fff;
  font-size: 16px;
}

#footer a:hover {
  background: none;
  color: #aaa;
}

#footer p {
  color: #aaaaaa;
  font-size: 12px; 
  font-weight: 500;
}

#footer .nav,
#social .nav {
  display:inline-block;
  float: none;
 }
