body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 200;
}

.tooltip-inner {
    max-width: 350px;
    /* If max-width does not work, try using width instead */
    width: 200px; 
}

#wv-content {
  margin-top: 10%;
}

#wv-welcome {
  margin-bottom: 2.5%;
}

#wv-view {
  margin: 0 auto;
  width: 50%;
}

#wv-welcome h1 {
  font-size: 60px;
  color: #6b15a1;
}

#wv-welcome p {
  font-size: 18px;
  color: #8a8a8a;
}

#wv-welcome a {
  color: #6b15a1;
}

#wv-search-form span {
  font-size: 10em;
  color: #6b15a1;
  cursor: pointer;
}

#wv-random-button a.btn {
  background: transparent none repeat scroll 0 0;
  border: 1px solid #6b15a1;
  border-radius: 4px;
  color: #6b15a1;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  padding: 7px 24px;
}

#wv-random-button a.btn span {
  top: 2px;
  margin-right: 10px;
}

#wv-random-button a.btn:hover,
#wv-random-button a.btn:hover span {
  background: #6b15a1 none repeat scroll 0 0;
  color: #fff;
}

#goTo {
  color: #6b15a1;
}

#wv-search-form #searchIcon {
  margin-left: 20px;
}

#wv-search-form #randomIcon {
  margin-right: 20px;
}


/* Credits to: http://bootsnipp.com/snippets/featured/full-screen-search */
body {
    padding: 40px 0px;   
}

#search {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    
    -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;

    -webkit-transform: translate(0px, -100%) scale(0, 0);
  -moz-transform: translate(0px, -100%) scale(0, 0);
  -o-transform: translate(0px, -100%) scale(0, 0);
  -ms-transform: translate(0px, -100%) scale(0, 0);
  transform: translate(0px, -100%) scale(0, 0);
    
    opacity: 0;
}

#search.open {
    -webkit-transform: translate(0px, 0px) scale(1, 1);
    -moz-transform: translate(0px, 0px) scale(1, 1);
  -o-transform: translate(0px, 0px) scale(1, 1);
  -ms-transform: translate(0px, 0px) scale(1, 1);
  transform: translate(0px, 0px) scale(1, 1); 
    opacity: 1;
}

#search input[type="search"] {
    position: absolute;
    top: 50%;
    width: 100%;
    color: rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0);
    font-size: 60px;
    font-weight: 300;
    text-align: center;
    border: 0px;
    margin: 0px auto;
    margin-top: -51px;
    padding-left: 30px;
    padding-right: 30px;
    outline: none;
}
#search .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: 61px;
    margin-left: -45px;
}
#search .close {
    position: fixed;
    top: 15px;
    right: 15px;
    color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
  opacity: 1;
  padding: 10px 17px;
  font-size: 27px;

}



#wv-random-content > * {
    animation: fadein 1.5s;
    -moz-animation: fadein 1.5s; /* Firefox */
    -webkit-animation: fadein 1.5s; /* Safari and Chrome */
    -o-animation: fadein 1.5s; /* Opera */
}

#wv-random-title {
  animation: fadein 5.5s;
  -moz-animation: fadein 5.5s; /* Firefox */
  -webkit-animation: fadein 5.5s; /* Safari and Chrome */
  -o-animation: fadein 5.5s; /* Opera */
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}